app/dist/index.html
<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <title>Get Photographs from API | Alpha</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="HTML5,CSS3,jQuery,レスポンシブ,Javascript,MarkUpengineer,マークアップエンジニア,htmlコーダー">
    <meta name="description" content="HTML5,CSS3,jQueryが三度の飯より大好物！！レスポンシブサイトが大得意！！">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Get Photographs from API | Alpha</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header id="task-header">
      <div class="block-inner">
        <h1 class="headdingLevel1">Get Photographs from API.<br>And Display to use JS library of Grid Layout.</h1>
      </div>
    </header>
    <section id="app">
      <section class="imgGrid-block">
        <section class="imgGrid-nav">
          <div class="imgGrid-nav--triggerIcon"><span></span></div>
          <div class="imgGrid-nav--inner">
            <ul class="imgGrid-nav--btnArea">
              <li class="imgGrid-nav--btn is-active" data-filter="All">All</li>
            </ul>
            <h3 class="headdingLevel3">Genre</h3>
            <ul class="imgGrid-nav--btnArea genre">
              <li class="imgGrid-nav--btn" data-filter="Street">Street</li>
              <li class="imgGrid-nav--btn" data-filter="Life">Life</li>
              <li class="imgGrid-nav--btn" data-filter="Dogs">Dogs</li>
            </ul>
            <h3 class="headdingLevel3">Camera</h3>
            <ul class="imgGrid-nav--btnArea camera">
              <li class="imgGrid-nav--btn" data-filter="Fuji">FUJIFILM X-T1</li>
              <li class="imgGrid-nav--btn" data-filter="GR">RICOH GR</li>
              <li class="imgGrid-nav--btn" data-filter="Olympus">OLYMPUS PEN EP-3</li>
            </ul>
          </div>
        </section>
        <div class="imgGrid-block--inner">
          <p class="imgGrid--lead">「Genre」「Camera」ボタンで絞り込みでき、写真をクリックすると大きな写真が表示されます。</p>
          <h2 class="headdingLevel2" id="js-titleJanle">All</h2>
          <div id="imgGrid-post">
            <ul class="imgGrid-post_list"></ul>
            <p class="imgGrid-post-moreBtn imgGrid--btn display-none">More</p>
            <p class="imgGrid-post-closeBtn display-none"><i class="fas fa-times"></i>Close</p>
          </div>
          <p class="display-none" id="imgGrid-post__messe">There is no photography.</p>
        </div>
      </section>
    </section>
    <script src="js/script.js"></script>
  </body>
</html>

app/src/index.pug
extends _include/_layout.pug
block title
    title Get Photographs from API | #{globalSiteName}
block css

    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
block content
    header#task-header
      .block-inner
        h1.headdingLevel1 Get Photographs from API.
          br
          | And Display to use JS library of Grid Layout.
    section#app
      section.imgGrid-block
        section.imgGrid-nav
          div.imgGrid-nav--triggerIcon
            span
          div.imgGrid-nav--inner
            ul.imgGrid-nav--btnArea
              li.imgGrid-nav--btn.is-active(data-filter="All") All
            h3.headdingLevel3 Genre
            ul.imgGrid-nav--btnArea.genre
              li.imgGrid-nav--btn(data-filter="Street") Street
              li.imgGrid-nav--btn(data-filter="Life") Life
              li.imgGrid-nav--btn(data-filter="Dogs") Dogs
            h3.headdingLevel3 Camera
            ul.imgGrid-nav--btnArea.camera
              li.imgGrid-nav--btn(data-filter="Fuji") FUJIFILM X-T1
              li.imgGrid-nav--btn(data-filter="GR") RICOH GR
              li.imgGrid-nav--btn(data-filter="Olympus") OLYMPUS PEN EP-3
        div.imgGrid-block--inner
          p.imgGrid--lead 「Genre」「Camera」ボタンで絞り込みでき、写真をクリックすると大きな写真が表示されます。
          h2#js-titleJanle.headdingLevel2 All
          div#imgGrid-post
            ul.imgGrid-post_list
            p.imgGrid-post-moreBtn.imgGrid--btn.display-none More
            p.imgGrid-post-closeBtn.display-none
              i.fas.fa-times
              | Close
          p#imgGrid-post__messe.display-none There is no photography.

block js
      script(src="js/script.js")
